.App {
  /* margin: 30px auto;
  border: 1px solid red;
  width: 50vw; */
}

.Navbar {
  background: lightblue;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

button {
  margin-top: 20px;
  padding: 3px 5px;
  border-radius: 5px;
  outline: none;
}
